---
import { Header, Button, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists } from '../config/footer';
export interface Props {
    seo?: BaseHeadProps;
}
import { nav } from '../config/nav.js';
const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
    <Header rightMenu navData={nav} slot="header">
        <span slot="logo">
            <Logo />
        </span>
        <Button slot="action-item" href="/login">Inicio de sesion</Button>
    </Header>
    <div id="page">
        <slot />
    </div>

   <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
		<df-messenger
		intent="WELCOME"
		chat-title="ChatBot"
		agent-id="8c4bff09-88ec-459d-ac06-5f4d6c8ce09a"
		language-code="es"
		>
	</df-messenger>

    <Footer
        slot="footer"
        background="var(--theme-surface-1)"
        color="var(--theme-on-surface-1)"
        footerLists={footerLists}
        copyrightName={settings.name}
        showPlug={settings.showPlug}
    >
        <Logo slot="logo" />
    </Footer>

    

</Layout>

<style is:global>
    /* Estilos para el chatbot de Dialogflow */
    df-messenger {
        z-index: 999;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
</style>